/* UNIVERSAL STYLES */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* COLORS */
    --green-color: #4D96A9;
    --dark-purple-color: #855FB1;
    --black-color: #28283D;
    --grey-color: #87879D;
    --turquoise-color: #8FE3F9;
    --light-purple-color: #D9B8FF;
    --white-accent-color: #FAFAFA;

    /* FONT SIZES */
    --dt-heading-size: 4rem;
    --mobile-heading-size: 2.5rem;
    --overline-size: 1rem;
    --main-p-size: 1.125rem;

    /* FONT WEIGHT */
    --primary-fw-900: 900;
    --secondary-fw-500: 500;

    /* FONT FAMILY */
    --primary-ff: 'Red Hat Display', sans-serif;
}

html {
    height: 100%;
}

/* MAIN STYLES */

body {
    min-height: 100vh;
    font-size: var(--main-p-size);
    font-family: var(--primary-ff);
    font-weight: var(--secondary-fw-500);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
}

.logo {
    margin: 3rem 8rem 3.375rem;
}


.intro-container {
    display: grid;
    grid-template-columns: minmax(20rem, 1fr);
    grid-template-areas:
        "hero-img"
        "main-heading"
        "info-p"
        "btns";
}

.main-heading,
.main-info-01,
.dl-btn,
.what-btn,
.article-h2,
.main-info-02,
.decor-bullet-01>span,
.article-h2,
.dload-btn,
.decor-bullet-02>span,
.footer-h2,
.footer-p,
.overline {
    text-align: center;
}

.main-heading,
.dl-btn,
.what-btn,
.overline,
.decor-bullet-01>span,
.article-h2,
.dload-btn,
.decor-bullet-02>span,
.footer-h2  {
    font-weight: var(--primary-fw-900);
}

.main-heading {
    grid-area: main-heading;
    font-size: var(--mobile-heading-size);
    line-height: 2.75rem;
    margin: 3rem 1.5rem 1.5rem;
    color: var(--black-color);
}

.img-mobile-hero,
.btn-wrapper,
.dl-btn,
.what-btn,
.decor-bullet-01 {
    justify-self: center;
}

.img-mobile-hero {
    grid-area: hero-img;
}

.main-info-01 {
    grid-area: info-p;
    font-size: 1rem;
    color: var(--grey-color);
    line-height: 1.625rem;
    margin: 0 1.5rem 2rem;
}

.btn-wrapper {
    grid-area: btns;
    display: grid;
}

.dl-btn,
.what-btn {
    border-radius: 2.3rem;
    border-style: none;
    color: var(--white-accent-color);
    font-size: 1rem;
}

.dl-btn {
    width: 12.0625rem;
    height: 3.3125rem;
    margin: 0 5.6875rem 1rem;
    background-color: var(--green-color);
}

.dl-btn>span {
    color: var(--turquoise-color);
}

.what-btn {
    width: 8.6875rem;
    height: 3.3125rem;
    background-color: var(--dark-purple-color);
    margin: 0 7.375rem 4rem;
}

.info-container {
    display: grid;
    grid-template-columns: minmax(20rem, 1fr);
    grid-template-areas:
        "bullet-01"
        "figure"
        "slogan"
        "second-head"
        "info-p-2";
}

.decor-bullet-01 {
    grid-area: bullet-01;
}

.decor-bullet-01>.vertical-line {
    width: 1px;
    height: 5.25rem;
    background-color: var(--grey-color);
    opacity: 0.25;
    transform: translateX(1.75rem);
}

.decor-bullet-01>span {
    display: block;
    font-size: 1rem;
    color: var(--grey-color);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 1px solid var(--grey-color);
    padding: 15px;
    opacity: 0.25;
}

.info-article-img {
    grid-area: figure;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9.44rem, 9.75rem));
    justify-content: center;
    align-content: center;
    row-gap: 1.5625rem;
    column-gap: 1.5rem;
    margin: 4rem 0;
}

.img-info {
    border-radius: 0.5rem;
}

.overline {
    grid-area: slogan;
    display: block;
    text-transform: uppercase;
    line-height: 1.625rem;
    margin: 0 3.125rem 1.5rem;
    letter-spacing: 3px;
    font-size: 1rem;
    color: var(--green-color);
}

.article-h2 {
    grid-area: second-head;
    font-size: 2rem;
    color: var(--black-color);
    margin: 0 1.5rem 2rem;
    line-height: 2.25rem;
}

.main-info-02 {
    grid-area: info-p-2;
    font-size: 1rem;
    color: var(--grey-color);
    line-height: 1.625rem;
    margin: 0 1.5rem 10.1875rem;
}

.img-dt-hero-right,
.img-dt-hero-left,
.img-dt-footer,
.img-tablet-footer {
    display: none;
}

/* FOOTER STYLES */

footer {
    background-image: linear-gradient(to bottom, rgba(77, 151, 169, 0.9), rgba(77, 151, 169, 0.9)),
        url("../assets/mobile/image-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: minmax(20rem, 1fr);
    grid-template-areas: 
        "foot-heading"
        "foot-para"
        "foot-btn";
}


.decor-bullet-02 {
    justify-self: center;
    position: absolute;
    margin-top: -7rem;
}

.decor-bullet-02>.vertical-line-02 {
    width: 1px;
    height: 5.25rem;
    background-color: var(--grey-color);
    opacity: 0.25;
    transform: translateX(calc(56px / 2));
}

.decor-bullet-02>span {
    display: block;
    font-size: 1rem;
    color: var(--grey-color);
    background-color: var(--white-accent-color);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 1px solid var(--grey-color);
    padding: 15px;
}

.footer-p {
    grid-area: foot-para;
    line-height: 1.625rem;
    color: var(--white-accent-color);
    margin: 0 1.5rem 2rem;
}

.footer-h2 {
    grid-area: foot-heading;
    font-size: 2rem;
    line-height: 2.25rem;
    color: var(--white-accent-color);
    margin: 5.875rem 1.5rem 1.5rem;
}

.dload-btn {
    grid-area: foot-btn;
    width: 12.0625rem;
    height: 3.3125rem;
    justify-self: center;
    border-radius: 2.3rem;
    border-style: none;
    margin: 0 5.625rem 4.5rem;
    background-color: var(--dark-purple-color);
    color: var(--white-accent-color);
    font-size: 1rem;
}

.dload-btn>span {
    color: var(--light-purple-color);
}

/* MEDIA QUERIES */

@media (min-width: 48rem) {
    .intro-container {
        grid-template-areas: 
        "hero-img"
        "main-heading"
        "info-p"
        "btns";
    }

    .main-heading {
        font-size: 3rem;
        line-height: 3rem;
        margin: 4.5rem 13.4375rem 1.5rem;
    }

    .main-info-01 {
        margin: 0 9.75rem 2rem;
    }

    .img-mobile-hero {
        max-width: none;
    }

    .btn-wrapper {
        grid-area: btns;
        margin: 0 0 5rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .dl-btn,
    .what-btn {
        margin: 0;
    }

    .dl-btn {
        margin-right: 1rem;
    }

    .overline {
        margin: 0 15.6875rem 1rem;
    }

    .article-h2 {
        font-size: 2.5rem;
        line-height: 2.75rem;
        margin: 0 10.125rem 2rem;
    }

    .main-info-02 {
        margin: 0 6.125rem 12rem;
    }

    footer {
        background-image: linear-gradient(to bottom, rgba(77, 151, 169, 0.9), rgba(77, 151, 169, 0.9)),
        url("../assets/tablet/image-footer.jpg");
    }

    .footer-h2 {
        font-size: 2.5rem;
        line-height: 2.75rem;
        margin: 5.75rem 9.75rem 2rem;
    }

    .footer-p {
        margin: 0 6.125rem 2.5rem;
    }

    .dload-btn {
        margin: 0 18rem 4.125rem;
    }
}

@media (min-width: 64rem) {
    .main-info-01 {
        margin-left: 15rem;
        margin-right: 15rem;
    }

    .main-info-02,
    .footer-p {
        margin-left: 9rem;
        margin-right: 9rem;
    }

    .info-article-img {
        grid-template-columns: repeat(auto-fit, minmax(10.3rem, 12rem));
        row-gap: 1.875rem;
    }

    .main-info-01,
    .main-info-02 {
        font-size: var(--main-p-size);
    }
}

@media (min-width: 87.5rem) {
    .img-mobile-hero {
        display: none;
    }

    .img-dt-hero-left,
    .img-dt-hero-right {
        display: block;
    }

    .intro-container {
        grid-template-columns: minmax(24rem, 1.5fr) minmax(24rem, 1fr) minmax(24rem, 1.5fr) ;
        grid-template-rows: 10rem 3.5rem 3.5rem 3.5rem;
        grid-template-areas: 
            "hero-left main-content hero-right"
            "hero-left dt-para hero-right"
            "hero-left dt-para hero-right"
            "hero-left dt-btn hero-right";
    }

    .img-dt-hero-left {
        grid-area: hero-left;
        justify-self: center;
    }

    .img-dt-hero-right {
        grid-area: hero-right;
        justify-self: center;
    }

    .btn-wrapper {
        grid-area: dt-btn;
    }

    .main-heading {
        grid-area: main-content;
        margin: 0;
        font-size: var(--dt-heading-size);
        line-height: 4rem;
        width: 29rem;
        justify-self: center;
    }

    .main-info-01 {
        grid-area: dt-para;
        margin: 0;
    }

    .info-container {
        margin-top: 6.9rem;
    }

    .info-article-img {
        grid-template-columns: repeat(auto-fit, minmax(10.3rem, 16rem));
        row-gap: 1.875rem;
    }

    .article-h2 {
        margin: 0 31.125rem 2rem;
    }

    .main-info-02 {
        margin: 0 27.5rem 11.5rem;
    }

    footer {
        background-image: linear-gradient(to bottom, rgba(77, 151, 169, 0.9), rgba(77, 151, 169, 0.9)),
        url("../assets/desktop/image-footer.jpg");
        grid-template-columns: minmax(21rem, 1fr) minmax(21rem, .8fr) minmax(12rem, 0.75fr);
        grid-template-areas: 
            "heading-02 para-02 btn";
        justify-content: center;
        /* column-gap: 3.5rem; */
    }

    .footer-h2 {
        grid-area: heading-02;
        margin: 116px 0;
        text-align: left;
        align-self: center;
        padding-left: 165px;
    }

    .footer-p {
        grid-area: para-02;
        margin: 0;
        text-align: left;
        align-self: center;
        display: none;
    }

    .dload-btn {
        grid-area: btn;
        margin: 0;
        align-self: center;
    }

    /* HOVER STATES */

    .dl-btn:hover,
    .dl-btn:visited {
        background-color: #71C0D4;
        cursor: pointer;
    }

    .what-btn:hover,
    .what-btn:visited,
    .dload-btn:hover,
    .dload-btn:active {
        background-color: #B18BDD;
        cursor: pointer;
    }

    .dload-btn:hover + .footer-p {
        display: block;
    }
}